.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 200px;
}

.card__like-button {
  background: transparent url(../images/like_inactive.svg) no-repeat;
  width: 21px;
  height: 18px;
  margin-right: 20px;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 625px) {
  .card__like-button {
    margin-right: 0;
  }

  .card__like-button {
    width: 21px;
    height: 18px;
  }
}
