.header {
  border-bottom: solid 1px rgb(84 84 84 / 0.7);
}

.header__image {
  margin-top: 45px;
  margin-bottom: 41px;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 625px) {
  .header__image {
    width: 126px;
    height: 24px;
    margin: 28px 100px 30px 27px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
