.header {
  border-bottom: solid 1px #545454;
}

.header__image {
  margin-top: 45px;
  margin-bottom: 41px;
}
.header__image:hover {
  opacity: 0.7 !important;
  stroke: blue;
}

@media screen and (max-width: 625px) {
  .header__image {
    width: 126px;
    height: 24px;
    margin: 28px 100px 30px 27px;
  }
}
