.page {
  background-color: black;
  color: white;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
